/.quarto/
**/.ipynb_checkpoints/
#--#
**/data/
**/자료/
**/result/
**/results/
**/결과/
**/model/
**/models/
**/모델/
#--#
*.pickle
*.pkl
*.pth
*.pt
*.npy
*.RData
*.safetensors
#--#
#*.pdf
#*.json
#*.csv
*.wav
*.avi
#--#
*.zip
*.tar
*.tar.gz
*.tgz
*.tar.bz2
*.7z
*.rar
*.gz
*.bz2